{% block branding %}
<h1 id="site-name"><a >Hello, {{user}}!</a></h1>
<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'post_new' user_name=user%}">Add a post</a></li>
        </ul>
    </section>
</nav>

<div>
    <h1><a>My Blog</a></h1>
</div>

<div class="page-header">
    <a class="btn btn-default" href="{% url 'post_new' user_name=user%}"><span class="glyphicon glyphicon-pencil"></span></a>
</div>

 {% for post in posts %}
<div>
    <p>published: {{ post.published_date }}</p>
        <h1><a href="{%url 'post_detail' pk=post.pk user_name=user%}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
    {% endfor %}

{% endblock %}

{% block nav-global %}{% endblock %}